<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWSW</title>

    <link rel="stylesheet" href="~/Areas/Admin/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/choices.js/choices.min.css" />

    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/quill/quill.bubble.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/quill/quill.snow.css">

    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/app.css">
    <link rel="shortcut icon" href="~/Areas/Admin/assets/images/favicon.svg" type="image/x-icon">


    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/quill/quill.bubble.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/vendors/quill/quill.snow.css">



</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-menu">
                    <ul class="menu">
                        @*REPORT*@
                        <li class='sidebar-title'>Manage Report</li>

                        <li class="sidebar-item active ">
                            <a href="@Url.Action("Index","ReportsManage")" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Report List</span>
                            </a>

                        </li>

                        @*ANIMAL*@
                        <li class='sidebar-title'>Manage Scientific List</li>

                        <li class="sidebar-item active ">
                            <a href="@Url.Action("Index","Classes")" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Scientific List</span>
                            </a>
                        </li>

                        <li class="sidebar-item active ">
                            <a href="@Url.Action("Index","AnimalsManage")" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Animal List</span>
                            </a>
                        </li>

                        @*BLOG*@
                        <li class='sidebar-title'>BLOG</li>

                        <li class="sidebar-item active ">
                            <a href="@Url.Action("Index","Category_Blog")" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Blog Categories</span>
                            </a>
                        </li>

                        <li class="sidebar-item active ">
                            <a href="@Url.Action("Index","Blogs")" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Blog</span>
                            </a>
                        </li>
                        }



                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">

            <div class="main-content container-fluid">
                @RenderBody()
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Voler</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by Asian Unicorn
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Areas/Admin/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Areas/Admin/assets/js/app.js"></script>

    <script src="~/Areas/Admin/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Areas/Admin/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/Areas/Admin/assets/js/pages/dashboard.js"></script>

    <!-- Include Choices JavaScript -->
    <script src="~/Areas/Admin/assets/vendors/choices.js/choices.min.js"></script>

    <script src="~/Areas/Admin/assets/js/main.js"></script>

    <script src="~/Areas/Admin/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/Areas/Admin/assets/js/vendors.js"></script>

    <script src="~/Areas/Admin/assets/vendors/quill/quill.min.js"></script>
    <script src="~/Areas/Admin/assets/js/pages/form-editor.js"></script>


    @RenderSection("scripts", required: false)
</body>

</html>