@model IEnumerable<AsianUnicorn.Models.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section class="section">
    <div class="card">
        <div class="card-body">
            <table class='table table-striped' id="table1">
                <thead>
                    <tr>
                    <tr>
                        <th>
                            Name Class
                        </th>
                        <th>
                            Common Name

                        </th>
                        <th>
                            Scientific Name
                        </th>
                        <th>
                            English Name
                        </th>

                        <th>
                            Conservation Group
                        </th>
                        <th>
                            Protection Group
                        </th>
                        <th>
                            Distribution Animal
                        </th>

                        <th></th>
                    </tr>
                </thead>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class.NameClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScientificName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnglishName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ConservationStatu.ConservationGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProtectionStatu.ProtectionGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistributionAnimal)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.AnimalID })
                        </td>
                    </tr>
                    }
                   </table>
            </div>
        </div>
    </section>
