@model IEnumerable<AsianUnicorn.Models.AnimalProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalProductsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionAnimalProducts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal.CommonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalProductsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionAnimalProducts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.CommonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalProductsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalProductsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalProductsID })
        </td>
    </tr>
}

</table>
